body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  position: relative;
  

     padding-top: 130px;
     @include mq(desk){
       padding-top: 170px;
     }
  
 
 z-index: -1;
 background-image: url(../images/wave-bg.svg);
 background-repeat: no-repeat;
 background-position: top center;
 @include mq(desk){
    background-size: auto 878px;
 }
 background-size: auto 600px;
 width: 100%;

 @media screen and (max-width:1366px) {
   height: 600px;

 }

 @media screen and (min-width:1366px) {
   height: 878px;

 }
  
  
  
}

button{
  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
