body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  position: relative;
  

     padding-top: 130px;
     @include mq(tab){
       padding-top: 170px;
     }
  
 .scroll{
   position: absolute;
   display: block;
   text-align: center;
   border: 2px solid $accent-color;
   width: 80px;
   height: 40px;
   margin-left: 10px;
   border-radius: 5px;
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 164.9%;
   background-color: $accent-color;
 }
 .color-scroll{
color: $text-color-white;
 }
 
  
  
  .wave{
  position: absolute;
  z-index: -1;
  background-image: url(../images/wave-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;

  @media screen and (max-width:1366px){
    height: 600px;
    
  }
  @media screen and (min-width:1366px){
    height: 878px;
    
  }
}
}

button{
  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
