:root {
  --card-item: 1;
  --card-gap: 30px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$text-color-main: #111518;
$text-color-secondary: #b9b9b9;
$text-color-white: #ffffff;
$bg-color-main: #f5f5f5;
$bg-color-secondary: #f1f1f1;
$bg-color-dark: #111518;
$accent-color: #ff6b09;
