$text-color-main: #111518;
$text-color-secondary: #B9B9B9;
$text-color-white: #ffffff;

$bg-color-main: #F5F5F5;
$bg-color-secondary: #F1F1F1;
$bg-color-dark: #111518;

$accent-color: #FF6B09;

$card-item: 1;
$card-gap: 30px;