<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-item advantages-item--female-student advantages-item--female-student-desk">
                <p class="advantages-description">Adapted author's <span class="no-wrap">UPE program</span></p>
            </li>
            <li class="advantages-item advantages-item--mobile-learning advantages-item--mobile-learning-desk">
                <p class="advantages-description">Modern teaching methods</p></li>
            <li class="advantages-item advantages-item--insurance advantages-item--insurance-desk">
                <p class="advantages-description">Financial guarantee the result</p></li>
        </ul>
    </div>
</section>