<section class="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title">Why do people choose us</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <p class="benefits__number"></p>
        <p class="benefits__name">Training in small groups</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__number"></p>
        <p class="benefits__name">Rendered notes</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__number"></p>
        <p class="benefits__name">Each lesson has a goal and a specific result</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__number"></p>
        <p class="benefits__name">The real results of the teacher</p>
      </li>
      <li class="benefits__item">
        <p class="benefits__number"></p>
        <p class="benefits__name">
          The course program meets the requirements of the MES of Ukraine
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__number"></p>
        <p class="benefits__name">Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
