<section class="contacts" id="contacts">
    <div class="container">
    <h2 class="contact__tatel">Registration for a <span class="tatel-ckcent">free</span> phone <span class="tatel-ckcent">consultation</span> on the nuances
         of English UPE</h2>

         <p class="contacts__label">Leave a request for participation in a <span class="labl-akcent">free lesson</span> .
           <br> A consultant will contact you and answer your questions</p>

            <form action="" class="contacts__form">
                <label class="form-laibel" >
                    <input class="form-input" type="name" name="Имя*" placeholder="Name*" >
                </label>

                <label class="form-laibel" >
                    <input class="form-input" type="tel" placeholder="Phone*" pattern="[0-9]{3}">
                </label>
                <button class="form-btn" type="submit">i want a free lesson</button>
            </form>
        </div>
</section>