<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-wrapper">
                <a class="footer-logo-link" href="./index.html">
                    <img class="footer-logo" src="./images/logo.svg" alt="logo" />
                </a>
                <address>
                    <a class="footer-tel" href="tel:380991234567"
                        >+38 (099) 123 45 67</a>
                </address>
                <ul class="footer-soc-list">
                    <li class="footer-soc-item">
                        <a class="footer-soc-link" href="" target="blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="footer-comment"> &copy; All rights reserved, 2022</p>
        </div>
    </div>

</footer>