<header>
  <div class="container">
    <a href="./index.html">
      <img src="./images/logo.png" alt="logo" class="header-logo" />
    </a>
    <nav>
      <ul>
          <a href=""><li class="header-studying header--active">Studying program</li></a>
        <a href=""><li class="header-about">about</li></a>
        <a href=""><li class="header-training">training options</li></a>
        <a href=""></a>
        <li class="header-contacts">contacts</li>
      </ul>
      </nav>
    <button type="button" class="header-button">consultation by phone</button>
  </div>
</header>
