<section class="hero">
  <div class="container">
    <div class="hero-item">
      <div class="hero-content">
        <h1 class="hero-name">Complex preparation for English UPE</h1>
        <p class="hero-text-w">It won’t be easy.</p>
        <p class="hero-text-d">But you are guaranteed to get <span class="hero-text-d-orange">+25 points</span> </p>
       <a href="#contacts" class="hero-button"> i want a free lesson</a>
      </div>
      <div class="hero-photo">
        <img srcset="./images/hero/208m.png 208w, 
                      ./images/hero/416m.png 416w,
                      ./images/hero/370t.png 370w, 
                      ./images/hero/740t.png 740w,
                      ./images/hero/842d.png 842w,
                      ./images/hero/1684d-2x.png 1684w"
            sizes="(min-width:1366px) 842px, (min-width:768px) 370px, (min-width:480px) 208px, (max-width:480px) 100%"
            src="./images/hero/842d.png" alt="photo" />
      </div>
    </div>
  </div>
</section>
