<section class="section">
    <div class="container">
        <h2 class="title how-do">How do we do it</h2>
        <ul class="how-do__list card-set">
            <li class="how-do__item card-item">
                <div class="how-do__card">
                    <svg class="how-do__icon" width="55" height="55">
                        <use href="./images/sprite.svg#icon-howwedo-1"></use>
                    </svg>
                </div>
                <h3 class="how-do__title">Adapted program <br> preparation for UPE</h3>
                <p class="how-do__text">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.
                </p>
            </li>
            <li class="how-do__item card-item">
                <div class="how-do__card">
                    <svg class="how-do__icon" width="55" height="55">
                        <use href="./images/sprite.svg#icon-howwedo-2"></use>
                    </svg>
                </div>
                <h3 class="how-do__title">Classroom and online <br> learning</h3>
                <p class="how-do__text">The teacher will help not only in the classroom, but also during home preparation. Parents can
                    chat if they wish.</p>
            </li>
            <li class="how-do__item card-item">
                <div class="how-do__card">
                    <svg class="how-do__icon" width="55" height="55">
                        <use href="./images/sprite.svg#icon-howwedo-3"></use>
                    </svg>
                </div>
                <h3 class="how-do__title">The habit of reading in <br> English</h3>
                <p class="how-do__text">Articles from sources that are used in the development of this UPE will be received by phone
                    twice a week.</p>
            </li>
            <li class="how-do__item card-item">
                <div class="how-do__card">
                    <svg class="how-do__icon" width="55" height="55">
                        <use href="./images/sprite.svg#icon-howwedo-4"></use>
                    </svg>
                </div>
                <h3 class="how-do__title">Psychological <br> support</h3>
                <p class="how-do__text">We will teach you testing techniques, the ability to plan your confidence training
                    in itself.
                </p>
            </li>
            <li class="how-do__item card-item">
                <div class="how-do__card">
                    <svg class="how-do__icon" width="55" height="55">
                        <use href="./images/sprite.svg#icon-howwedo-5"></use>
                    </svg>
                </div>
                <h3 class="how-do__title">Training on copyright <br> manuals</h3>
                <p class="how-do__text">You don't have to waste your time
                    on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>
            </li>
            <li class="how-do__item card-item">
                <div class="how-do__card">
                    <svg class="how-do__icon" width="55" height="55">
                        <use href="./images/sprite.svg#icon-howwedo-6"></use>
                    </svg>
                </div>
                <h3 class="how-do__title">Ability to comprehend <br> spoken English</h3>
                <p class="how-do__text">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
                    accordance with the studied vocabulary.</p>
            </li>
        </ul>
    </div>
</section>