<section class="program">
  <div class="program__border"></div>
  <div class="container program__container">
    <h2 class="program__title">Our program</h2>
    <div class="program__block">
      <ul class="program__list">
        <li class="program__item">
          <p class="program__period program__period--first">semester</p>
          <ul>
            <div class="program__wrapper">
              <li class="program__lessons">
                <p class="program__unit">Grammar</p>
                <ul>
                  <li class="program__topic">Nouns &amp; Articles</li>
                  <li class="program__topic">Adjectives &amp; Adverb</li>
                </ul>
              </li>
              <li class="program__lessons">
                <p class="program__unit">Vocabulary</p>
                <ul>
                  <li class="program__topic">Family &amp; Relations</li>
                  <li class="program__topic">People &amp; Society</li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
        <li class="program__item">
          <p class="program__period">semester</p>
          <ul>
            <div class="program__wrapper">
              <li class="program__lessons">
                <p class="program__unit">Grammar</p>
                <ul>
                  <li class="program__topic">Pronouns</li>
                  <li class="program__topic">Active Voice</li>
                  <li class="program__topic">Passive Voice</li>
                </ul>
              </li>
              <li class="program__lessons">
                <p class="program__unit">Vocabulary</p>
                <ul>
                  <li class="program__topic">Home</li>
                  <li class="program__topic">School</li>
                  <li class="program__topic">Work</li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
        <li class="program__item">
          <p class="program__period">semester</p>
          <ul>
            <div class="program__wrapper">
              <li class="program__lessons">
                <p class="program__unit">Grammar</p>
                <ul>
                  <li class="program__topic">Modal verbs</li>
                  <li class="program__topic">Infinitive</li>
                  <li class="program__topic">Gerund</li>
                  <li class="program__topic">Participle: 1, 2</li>
                </ul>
              </li>
              <li class="program__lessons">
                <p class="program__unit">Vocabulary</p>
                <ul>
                  <li class="program__topic">Travel &amp; Tourism</li>
                  <li class="program__topic">Culture &amp; Free Time</li>
                  <li class="program__topic">Sport</li>
                </ul>
              </li>
              <li class="program__lessons">
                <p class="program__unit">Writing</p>
                <ul>
                  <li class="program__topic">Informal Letter</li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
        <li class="program__item program__item--padding">
          <p class="program__period">semester</p>
          <ul>
            <div class="program__wrapper">
              <li class="program__lessons">
                <p class="program__unit">Grammar</p>
                <ul>
                  <li class="program__topic">Clauses: Conditional and Wishes</li>
                  <li class="program__topic">Direct / Reported speech</li>
                  <li class="program__topic">Preposition</li>
                  <li class="program__topic">Conjunction</li>
                  <li class="program__topic">Numeral</li>
                </ul>
              </li>
              <li class="program__lessons">
                <p class="program__unit">Vocabulary</p>
                <ul>
                  <li class="program__topic">Healthy Living</li>
                  <li class="program__topic">Nature &amp; Environment</li>
                  <li class="program__topic">Money</li>
                </ul>
              </li>
              <li class="program__lessons">
                <p class="program__unit">Writing</p>
                <ul>
                  <li class="program__topic">Formal Letter</li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
        <li class="program__item">
          <p class="program__period program__period--last">semester</p>
          <ul>
            <li>
              <p class="program__unit program__unit--last"></p>
              <ul>
                <li class="program__topic program__topic--last">Revision Tests</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="program__thumb">
      <img
        srcset="
          ./images/prog/120t.png      120w,
          ./images/prog/240.png       240w,
          ./images/prog/374.png       374w,
          ./images/prog/672d.png      672w,
          ./images/prog/748t-x2.png   748w,
          ./images/prog/1344d-x2.png 1344w
        "
        sizes="(min-width: 1366px) 672px, (min-width: 768px) 374px, (min-width:480px) 120px, (max-width:480px) 100%"
        src="./images/prog/120t.png "
        alt="English lesson in class"
        class="program__photo"
      />
    </div>
  </div>
</section>
