<section class="reviews">
  <div class="container reviews__container">
    <h2 class="title__feedback">Feedback from graduates</h2>
    <div class="reviews__slider-top slider-for">
      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-1/90m.png   90w,
                ./images/feed/av-1/150d.png 150w,
                ./images/feed/av-1/180m.png 180w,
                ./images/feed/av-1/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100vw"
              src="./images/feed/av-1/90m.png"
              alt="girl-1 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/va-2/90m.png   90w,
                ./images/feed/va-2/150d.png 150w,
                ./images/feed/va-2/180m.png 180w,
                ./images/feed/va-2/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100vw"
              src="./images/feed/va-2/90m.png"
              alt="girl-2 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-3/90m.png   90w,
                ./images/feed/av-3/150d.png 150w,
                ./images/feed/av-3/180m.png 180w,
                ./images/feed/av-3/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100vw"
              src="./images/feed/av-3/90m.png"
              alt="girl-3 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-4/90m.png   90w,
                ./images/feed/av-4/150d.png 150w,
                ./images/feed/av-4/180m.png 180w,
                ./images/feed/av-4/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100vw"
              src="./images/feed/av-4/90m.png"
              alt="girl-4 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-5/90m.png   90w,
                ./images/feed/av-5/150d.png 150w,
                ./images/feed/av-5/180m.png 180w,
                ./images/feed/av-5/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100vw"
              src="./images/feed/av-5/90m.png"
              alt="girl-5 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-6/90m.png   90w,
                ./images/feed/av-6/150d.png 150w,
                ./images/feed/av-6/180m.png 180w,
                ./images/feed/av-6/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100vw"
              src="./images/feed/av-1/90m.png"
              alt="girl-6 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-7/90m.png   90w,
                ./images/feed/av-7/150d.png 150w,
                ./images/feed/av-7/180m.png 180w,
                ./images/feed/av-7/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100%"
              src="./images/feed/av-7/90m.png"
              alt="girl-7 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>
        </div>
      </article>

      <article class="reviews_item">
        <div class="reviews_block-image">
          <div class="reviews__thumb">
            <img
              class="reviews__image"
              srcset="
                ./images/feed/av-5/90m.png   90w,
                ./images/feed/av-5/150d.png 150w,
                ./images/feed/av-5/180m.png 180w,
                ./images/feed/av-5/300d.png 300w
              "
              sizes="(min-width:1366px) 150px, (min-width:768px) 150px, (min-width:480px) 90px, (max-width:480px) 100%"
              src="./images/feed/av-5/90m.png"
              alt="girl-5 photo"
            />
          </div>
          <a href="@" class="reviews_icon">
            <svg width="34" height="34">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>

        <div class="reviews_post">
          <h3 class="reviews__title">Tonya Kucherovskaya</h3>
          <p class="reviews__text">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="reviews__paragraph">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
          </p>
          <a href="@" class="reviews__link"> Read more</a>npm run dev
        </div>
      </article>
    </div>

    <div class="rewiews_slider slider-nav">
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-1/54.png 1x, ./images/rev/rv-1/54.png 2x"
          src="./images/rev/rv-1/54.png"
          alt="girl-1 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-2/54.png 1x, ./images/rev/rv-2/54.png 2x"
          src="./images/rev/rv-2/54.png"
          alt="girl-2 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-3/54.png 1x, ./images/rev/rv-3/54.png 2x"
          src="./images/rev/rv-3/54.png"
          alt="girl-3 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-4/54.png 1x, ./images/rev/rv-4/54.png 2x"
          src="./images/rev/rv-4/54.png"
          alt="girl-4 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-5/54.png 1x, ./images/rev/rv-5/54.png 2x"
          src="./images/rev/rv-5/54.png"
          alt="girl-5 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-6/54.png 1x, ./images/rev/rv-6/54.png 2x"
          src="./images/rev/rv-6/54.png"
          alt="girl-6 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-7/54.png 1x, ./images/rev/rv-7/54.png 2x"
          src="./images/rev/rv-7/54.png"
          alt="girl-7 photo"
          width="54"
          height="54"
        />
      </div>
      <div class="reviews_photo">
        <img
          srcset="./images/rev/rv-5/54.png 1x, ./images/rev/rv-5/54.png 2x"
          src="./images/rev/rv-5/54.png"
          alt="girl-5 photo"
          width="54"
          height="54"
        />
      </div>
    </div>

    <button type="button" aria-label="button-prev" class="reviews__btn-prev">
      <!-- <svg width="27" height="2">
        <use href="./images/logo.svg#icon-arrow-prev"></use>
      </svg> -->
    </button>
    <button type="button" aria-label="button-next" class="reviews__btn-next">
      <!-- <svg width="27" height="2">
        <use href="./images/logo.svg#icon-arrow-next"></use>
      </svg> -->
    </button>
  </div>
</section>
