header {
  padding: 30px 0;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 90;
    a {
      margin-right: auto;
    }
    
  }
  .menu {
      
    @media screen and (max-width: 1366px) {
      display: none;
    }
  }

  .backdrop-menu {
    display: flex;

    transition: opacity 250ms linear;

    width: 100%;
    opacity: 1;
    background: rgba(17, 21, 24, 0.9);

    z-index: 85;

    @media screen and (min-width: 1366px) {
      display: none;
    }

    @media screen and (max-width: 1366px) {
      position: absolute;

      pointer-events: none;

      flex-direction: column;

      opacity: 0;
      transition: opacity 250ms linear;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);
    }
  }
  .backdrop-menu.is-open {
    opacity: 1;
    
    
    @media screen and (max-width: 1366px) {
      width: 100vw;
      height: 100vh;
    }
.modal-nav{
    @media screen and (max-width:768px){
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    @media screen and (min-width:768px){
        text-align: center;
    }
    
}
    transition: opacity 250ms linear;
    pointer-events: visible;

    .header-button-mob {
        background-color: $text-color-white;
            border: 2px solid $accent-color;
        
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.14em;
            text-transform: uppercase;
           
            color: $accent-color;
        
            
            
            width: 260px;
            height: 48px;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }


  
  .header-nav {
    @media screen and (min-width:1366px){
        display: flex;
    }
    @media screen and (max-width: 1366px) {
      flex-direction: column;
    padding-top: 110px;
      
    }
    

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    /* or 36px */

    letter-spacing: 0.03em;

    color: #ffffff;
    li:not(:last-child) {
      @media screen and (min-width: 1366px) {
        margin-right: 40px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.header {
  &-logo {
    width: 128px;
    height: 45px;
    z-index: 100;
    fill: black;
    // @media screen and (max-width: 1366px) {
    //   fill: white;
    // }
  }

  &-button {
    width: 336px;
    height: 70px;
    z-index: 70;
    background-color: $text-color-white;
    border: 2px solid $accent-color;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    margin-left: auto;
    color: $accent-color;
    @media (min-width: 768px) and (max-width: 1366px) {
     margin-right: 101px;
      width: 260px;
      height: 48px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-studying,
  &-about,
  &-training,
  &-contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;

    color: $text-color-secondary;
    @media screen and (max-width: 1366px) {
      color: #ffffff;
    }
  }

  &--active {
    position: relative;
    color: $accent-color;
    &::after {
      content: '';

      position: absolute;

      color: $accent-color;
    }
  }
}

.menu-button {
  display: inline-flex;
  position: absolute;

  right: 0;
  z-index: 97;
  

  .icon-cross {
    display: none;
  }

  @media screen and (min-width: 1366px) {
    display: none;
  }
}

.menu-button.is-open {
 
  z-index: 97;
 
  .icon-cross {
    display: block;
  }

  .icon-menu {
    display: none;
  }
}
