.how-do__list {
    --card-gap: 15px;

    @include mq(tab){
        --card-item: 2;
        --card-gap: 20px;


}

        @include mq(desk){
            --card-item: 3; 
            --card-gap: 30px; 
        }


} 

.how-do__item {  

    color: $text-color-secondary; 
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $text-color-white;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    transition: all 250ms linear;

    @include mq(tab-only) {
        br {display: none;}
     
    }
        


   


            @include mq(tab){            
                padding: 35px 32px;
            }

            @include mq(desk){              
                padding: 35px 28px 55px 28px;
            }

            &:hover,
            &:focus {
                background-color: $accent-color;
                color: $text-color-white;
            }

            &:hover .how-do__text::before{
                background-color: $text-color-white;
            }


}



  
.how-do {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;   
    text-align: center;
    letter-spacing: 0.03em;

    color:  $bg-color-dark;
    margin-bottom: 30px;

    @include mq(tab) {
        font-size: 26px;

    }

    @include mq(desk) {
        margin-bottom: 47px;
        text-align: start;
        font-size: 46px;

    }
}


.how-do__title {
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.08em;

    color: $bg-color-dark;   
    margin-bottom: 15px;

}


.how-do__text {
    width: 67%;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.08em;

    
    
}



.how-do__icon {
    fill:$accent-color;  
    margin-bottom: 20px;


    
}

.how-do__title,
.how-do__icon {
    transition: all 250ms linear;
    .how-do__item:hover &,
    .how-do__item:focus{
        color:inherit;
        fill:currentColor;
    }
}


.how-do__list .how-do__text{
    position: relative;
}

.how-do__list .how-do__text::before {
    content: "";    
    display: block;  
    width: 20px;
    height: 2px;
    margin-bottom: 20px;   
    margin-left: auto;
    margin-right: auto;
    background-color: $accent-color;
    transition: all 250ms linear;

    @include mq(desk) {
        margin-bottom: 15px;
    }

}


 
