.problems{
    padding-top: 25px;
    background-image: linear-gradient(
  
 #111518 545px,
 #FFFFFF 150px
);
@include mq(tab){
    padding-top: 55px;
    background-image: linear-gradient(
  
        #111518 340px,
        #FFFFFF 141px
       );
}
@include mq(desk){
    padding-top: 100px;
    background-image: linear-gradient(
  
        #111518 560px,
        #FFFFFF 150px
       );
}


}
.problems-shadow{
    background: $text-color-white;
box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
padding: 20px 27px;
@include mq(tab){
    padding: 28px 100px;
}
@include mq(desk){
    padding: 67px 113px;
}
}


.problems__tatel{
    font-weight: 800;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $text-color-white;
    margin-bottom: 25px;
    @include mq(tab){
        margin-bottom: 30px;
    }

    @include mq(desk){
        margin-bottom: 68px;
        font-size: 46px;
        line-height: 1.3;

    }

}
.tatel-akcent{
color: $accent-color
}

.problems__item{
    display: block;
    max-width: 226px;
    --card-gap: 15px;

    @include mq(tab){
        --card-gap: 20px;
       
        max-width: 200px;
    }

    @include mq(desk){
        --card-gap: 40px;
        min-width: 336px;
      
    }

}
.problems_laibl{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    align-items: center;
    letter-spacing: 0.08em;
    color: $text-color-main;
    @include mq(desk){
        font-size: 20px;
        line-height: 1.4;
        
    }
    
}
.problems__list{
    
    @include mq(tab){
        display: flex;
        justify-content: space-between;
        --card-item: 2;
    }

    @include mq(desk){
        justify-content: space-between;
        --card-item: 3;
    }
}